{% extends 'panel/Base.html' %}
{% load crispy_forms_tags %}
{% block title %}{% block title2 %}حساب کاربری{% endblock %}{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="card card-outline card-primary">
                    <div class="card-header">
                        <h3 class="card-title">تنظیمات حساب کاربری</h3>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="card-body">
                        <form role="form" action="{% url 'Profile:profile' %}" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="box-body">
                                <div class="row">
                                    <div class="col-6 col-lg-6 col-md-12 col-sm-12">
                                        <div class="form-group">
                                            <input name="first_name" id="id_first_name" class="form-control" type="text" value="{{ user.first_name }}" placeholder="نام"/>
                                            {% if form.first_name.errors %}
                                                <div class="field-errors">
                                                    {% for error in form.first_name.errors %}
                                                        <span>
                                                            {{ error }}
                                                        </span>
                                                    {% endfor %}
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="col-6 col-lg-6 col-md-12 col-sm-12">
                                        <div class="form-group">
                                            <input name="last_name" id="id_last_name" class="form-control" type="text" value="{{ user.last_name }}" placeholder="نام خانوادگی"/>
                                            {% if form.last_name.errors %}
                                                <div class="field-errors">
                                                    {% for error in form.last_name.errors %}
                                                        <span>
                                                            {{ error }}
                                                        </span>
                                                    {% endfor %}
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="box-footer">
                                <button class="btn btn-success" type="submit">ذخیره</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="card card-outline card-primary">
                    <div class="card-header">
                        <h3 class="card-title">تغییر رمزعبور</h3>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="card-body">
                        <form role="form" action="{% url 'Profile:account' %}" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="box-body">
                                <div class="row">
                                    <div class="col-12 col-lg-12 col-md-12 col-sm-12">
                                        {{ form.old_password|as_crispy_field }}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6 col-lg-6 col-md-12 col-sm-12">
                                        {{ form.new_password1|as_crispy_field }}
                                    </div>
                                    <div class="col-6 col-lg-6 col-md-12 col-sm-12">
                                        {{ form.new_password2|as_crispy_field }}
                                    </div>
                                </div>
                            </div>
                            <div class="box-footer">
                                <button class="btn btn-success" type="submit">تغییر پسورد</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}