{% extends 'panel/Base.html' %}
{% load static %}
{% load my_tags %}
{% load humanize %}
{% load jalali_tags %}
{% block title %}{% block title2 %}قبوض{% endblock %}{% endblock %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'admin/jquery.ui.datepicker.jalali/themes/base/jquery-ui.min.css' %}"/>
{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="row mb-3 d-flex flex-row-reverse">
            <div class="col-4">
                <button type="button" class="btn btn-block btn-sm btn-success mt-3 d-flex ml-auto justify-content-center w-25" data-toggle="modal" data-target="#modal-create-receipt">
                    اضافه کردن
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="card card-outline card-primary">
                    <div class="card-header">
                        <h3 class="card-title">قبوض</h3>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="card-body">
                        {% for receipt in receipt_list %}
                            {% if forloop.counter|modulo:3 == 1 %}
                                <div class="row">
                            {% endif %}
                        <div class="col-4">
                            <div class="info-box bg-light">
                                <div class="info-box-content">
                                    <span class="info-box-text">
                                        <span>
                                            {{ receipt.name }}
                                        </span>
                                        <span>
                                            <i class="cursor-pointer fas fa-info-circle" title="توضیحات: {% if receipt.description %}{{ receipt.description }}{% else %}خالی{% endif %}"></i>
                                        </span>
                                    </span>
                                    <span class="info-box-number">
                                        <span>
                                            نوع: {{ receipt.get_type_display }}
                                        </span>
                                        <span class="d-flex flex-column justify-content-center">
                                            <span>
                                                تاریخ پرداخت: {{ receipt.get_jalali_payment_date }}
                                            </span>
                                            <span>
                                                زمان پرداخت: {{ receipt.get_jalali_payment_time }}
                                            </span>
                                        </span>
                                    </span>
                                    <hr/>
                                    <div class="info-box-footer">
                                        <span>
                                            {{ receipt.amount|intcomma:False }}
                                        </span>
                                        <form action="{% url 'Receipt:deletereceipt' receipt.pk %}" method="post">
                                            {% csrf_token %}
                                            <button type="submit" class="btn btn-danger btn-sm">
                                                حذف
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% if forloop.counter|modulo:3 == 0 or forloop.last %}
                            </div>
                        {% endif %}
                        {% empty %}
                            <div class="row">
                                <div class="col">
                                    <h2 class="text-center">
                                        خالی
                                    </h2>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modal-create-receipt">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">اضافه کردن قبض</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form method="post" action="." enctype='multipart/form-data'>
                    {% csrf_token %}
                    <div class="modal-body">
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <input name="name" id="id_name" class="form-control" type="text" placeholder="نام"/>
                                    {% if form.name.errors %}
                                        <div class="field-errors">
                                            {% for error in form.name.errors %}
                                                <span>
                                            {{ error }}
                                        </span>
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <input name="amount" id="id_amount" class="form-control" type="text" placeholder="مبلغ"/>
                                    {% if form.amount.errors %}
                                        <div class="field-errors">
                                            {% for error in form.amount.errors %}
                                                <span>
                                            {{ error }}
                                        </span>
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div id="payment-date" class="col">
                                <div class="form-group">
                                    {{ form.payment_date_time.0 }}
                                    {% if form.payment_date_time.errors %}
                                        <div class="field-errors">
                                            {% for error in form.payment_date_time.errors %}
                                                <span>
                                            {{ error }}
                                        </span>
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                            <div id="payment-time" class="col">
                                <div class="form-group">
                                    {{ form.payment_date_time.0 }}
                                    {% if form.payment_date_time.errors %}
                                        <div class="field-errors">
                                            {% for error in form.payment_date_time.errors %}
                                                <span>
                                                    {{ error }}
                                                </span>
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <select name="type" id="id_type" class="form-control">
                                        <option value="" disabled selected>نوع قبض</option>
                                        {% for option in form.get_type_options %}
                                            <option value="{{ option.0 }}">{{ option.1 }}</option>
                                        {% endfor %}
                                    </select>
                                    {% if form.type.errors %}
                                        <div class="field-errors">
                                            {% for error in form.type.errors %}
                                                <span>
                                            {{ error }}
                                        </span>
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <input name="tracking_code" id="id_tracking_code" class="form-control" type="text" placeholder="کد رهگیری"/>
                                    {% if form.tracking_code.errors %}
                                        <div class="field-errors">
                                            {% for error in form.tracking_code.errors %}
                                                <span>
                                            {{ error }}
                                        </span>
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <textarea name="description" id="id_description" class="form-control" rows="3" placeholder="توضیحات" style="height: 70px;"></textarea>
                                    {% if form.description.errors %}
                                        <div class="field-errors">
                                            {% for error in form.description.errors %}
                                                <span>
                                            {{ error }}
                                        </span>
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer justify-content-between">
                        <button type="reset" class="btn btn-outline-danger" data-dismiss="modal">بستن</button>
                        <button type="submit" class="btn btn-outline-success">اضافه کردن</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script src="{% static 'admin/js/django_jalali.min.js' %}"></script>
    <script>
        $(document).ready(() => {
            let date_field = document.getElementById("payment-date");
            date_field.getElementsByClassName("form-control")[1].remove()
            let time_field = document.getElementById("payment-time");
            time_field.getElementsByClassName("jalali_date-date")[0].remove()
        })
    </script>
{% endblock %}